body {
  margin: 0;
}

.navi {
  /* height: 4em; */
  position: sticky;
  top: 0;
  /* line-height: 4em; */
  text-align: center;
  /* background-color: tomato; */
  color: white;
  font-family: sans-serif;
  transition: transform 150ms ease-in-out;
}

nav.nav-bar--hidden {
  transform: translateY(-100%);
}

main {
  padding: 2em;
  font-family: sans-serif;
}
